# Eclipse
/.classpath
/.project
/.settings

# Intellij
.idea
*.iml
*.ipr

# Maven
target

# Jahia DX Studio
repository.xml.generated

# NodeJS
node_modules
node

src/main/resources/javascript/apps
*.bak
